a.vp-skip-link.sr-only{
	display: none;
}

.docsearch-modal-footer-logo {
	display: none;
}

.vp-hero-info-wrapper {
	min-height: 400px;
}

.vp-highlight-item-wrapper {
	transition: all 300ms;
}

.vp-feature-item {
	@media (width >= 1440px) {
		flex-basis: calc(33% - 3rem);
	}
}

.vp-hero-title{
	background-image: linear-gradient(45deg,#ed213a ,#93291e);
}

a.route-link.auto-link.vp-hero-action.primary {
  	background: linear-gradient(45deg, #93291e, #ff4b2b);
  	border: none;
}

.tk-footer {
    display: none;
}

.vp-tabs-nav { display: none; }
.vp-tabs-nav:has(button[aria-selected="false"]) { display: block; }
.vp-tab { border-radius: var(--tab-border-radius) !important; }

.vp-card-title {
    color: #b71919;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }